//fonts
$font-family-base: 'Fjalla One', sans-serif;
$font-family-contrast: 'Russo One', sans-serif;

//colores
$color-base: #c0fc63;
$color-contrast: #0d1626;
$color-accent: #c4fb62;
$color-cta: #fdfe00; // call to action



